<%- include('../partials/head.ejs') %>  
    <%- include('../partials/header.ejs') %> 
        <h1 class="Jumbotron mb-4">Editá tu Heroe:</h1>
        <img src="/images/<%= heroe.avatar%>" alt="avatar">
        <form action="/heroes/edit/<%= heroe.id %>?_method=PUT" method="POST" class="w-50" enctype="multipart/form-data">
            <div class="d-flex flex-column input-group input-group-lg">
                <input class="form-control-lg mt-4" type="text" name="nombre" value="<%= heroe.nombre %>" required>
                <input class="form-control-lg mt-4" type="text" name="profesion" value="<%= heroe.profesion %>" required>
                <input class="form-control-lg mt-4" type="text" name="pais" value="<%= heroe.pais %>" required>
                <div class="form-group">
                    <textarea class="form-control-lg rounded-0 mt-4" name ="resenia" rows="3" style="height:100%; width:100%" required><%= heroe.resenia %></textarea>
                </div>
                <div>
                    <label for="fileUpload">Subí una foto de tu heroe</label>
                    <input type="file" name="avatar" id="fileUpload">
                </div>
            </div>

            <button class="btn btn-primary btn-lg mt-4 w-100" type="submit">Editar</button>
            <form action="/heroes/remove/<%= heroe.id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger btn-lg mt-4 w-100">Borrar</button>
            </form>
        </form>
    <%- include('../partials/footer.ejs') %>