<%- include('../partials/head.ejs') %>  
  <%- include('../partials/header.ejs') %> 
    <h1>Detalle: Profesión</h1>
    <p>Hola, mi nombre es <%= heroe.nombre %> y soy <%= heroe.profesion %>.</p>
  <%- include('../partials/footer.ejs') %> 
