<%- include('../partials/head.ejs') %>  
  <%- include('../partials/header.ejs') %> 
      <h1>Detalle: Reseña</h1>
      <p>Hola, mi nombre es <%= heroe.nombre %> y mi reseña es la siguiente:</p>
      <p>
          <%= heroe.resenia %>
      </p>
  <%- include('../partials/footer.ejs') %> 